# Ignorar archivos de configuración
*.env

# Ignorar directorios de dependencias
node_modules/
vendor/

# Ignorar archivos de compilación
*.class
*.o
*.log

# Ignorar directorios de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de logs
*.log

# Ignorar directorios temporales
temp/
tmp/

.vs/
bin/
obj/
*.db
*.db-shm
*.db-wal
*.user
*.suo
*.cache
appsettings.Development.json

